:root {
    --background-one: #333333;
    --background-two: #2F2F2F;

    --gray: #DEDEDE;
    --gray-dark: #676767;
    --gray-placeholder: #8B8B8B;

    --green: #37711C;
    
    --red: #BE3F3F;

    --yellow: #EBCD62;         
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

body, input, textarea, button {
    font-family: Poppins, sans-serif;
}

button {
    cursor: pointer;
    background: none;    

    transition: 0.2s;

    img {
        width: 18px;
        &:hover {
            opacity: 0.6;
        }
    }
}

button[type=submit] {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray);
    border-radius: 10px;
    background: var(--gray-dark);
    transition: background 400ms;

    margin-top: 10px;

        &:hover {
            background: var(--yellow);
            color: var(--background-one);
        }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;

    border-radius: 8px;
    margin-bottom: 10px;

    color: var(--gray-dark);                

        &::placeholder {
            color: var(--gray-placeholder);
        }
}

