:root {
    --black-400: #2F2F2F;
    --black-800: #333333;

    --gray-100: #DEDEDE;
    --gray-300: #8B8B8B;
    --gray-500: #676767;

    --green: #37711C;    
    --red: #BE3F3F;
    --yellow: #EBCD62;         
    --withe: #ffffff;         
}


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

body, input, textarea, button {
    font-family: Poppins, sans-serif;
}

button {
    cursor: pointer;
    background: none;    

    transition: 0.2s;

    img {
        width: 18px;
        &:hover {
            opacity: 0.6;
        }
    }
}

button[type=submit] {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--gray-100);
    border-radius: 10px;
    background: var(--gray-500);
    transition: background 400ms;

    margin-top: 10px;

        &:hover {
            background: var(--yellow);
            color: var(--background-400);
        }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px;

    border-radius: 8px;
    margin-bottom: 10px;

    color: var(--gray-500);                

        &::placeholder {
            color: var(--gray-placeholder);
        }
}


